spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dongseo?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 5776
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      separator: ;
      continue-on-error: false